<div class="row mt-3">
    <div class="col d-flex justify-content-between align-items-center">
        <h5>Countries</h5>

        <button type="button" class="btn btn-info btn-sm" [routerLink]="['/view2']">
            Setting
        </button>
        
    </div>
</div>
<!-- <p *ngIf="!emptylist">click on the list below for the search details</p>
<p *ngIf="emptylist">click on Search button to start</p> -->
<!-- <p>{{!emptylist ? "click on the list below for the search details" : "click on Search button to start" }} </p> -->
<ul class="list-group mt-3">
    <a *ngFor="let s of resultList"
        [routerLink]="['/view3', s.code, s.country]"
        class="list-group-item list-group-item-action"
    >{{ s.country }} &nbsp;&nbsp;&nbsp;&nbsp; <img [src]="s.flag" style="width: 30px;" alt="">
    </a>
</ul>